[Unit]
Description=rescoot modem service
After=network.target

[Service]
Type=simple
WorkingDirectory=/etc/rescoot
ExecStart=/usr/bin/rescoot-modem
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
